.itemsList
{
    margin-top:1%;
}

.cartItem
{
    margin-bottom:2%;
}

.cartEmpty 
{
    color:#3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;    
    margin: auto;
}

.iconLTMD
{
    height: 70px;
    line-height: 10px;
}

.iconGTSM
{
    height: 120px;
}