<app-header></app-header>

<div class="cartEmpty" *ngIf="!cartItems.length">
    <mat-icon style="line-height: 5px; font-size: 8em; margin-right: 5%;">production_quantity_limits</mat-icon>
    <div style="font-size: 3em;">Your Cart is Empty!</div>
</div>

<div class="container" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center" style="margin-top:2%; margin-bottom: 2%;" *ngIf="cartItems.length">
    <mat-card fxFlex="70%" fxFlex.sm="90%" fxFlex.xs="90%"> 
        <div class="container" fxLayout="row wrap" class="itemsList" fxLayoutGap="0.5%" fxLayoutAlign="center">
            <mat-card fxFlex="100%" class="cartItem" *ngFor="let item of cartItems"> 
                <mat-card-title-group>
                    <img mat-card-xl-image src={{item.URL}}>
                    <mat-card-title>{{item.Name}}</mat-card-title>
                    <mat-card-subtitle>Category: {{item.Category}}</mat-card-subtitle>
                    <mat-card-subtitle>Description: {{item.Description}}</mat-card-subtitle>
                    <mat-card-title>{{item.Price | currency:'INR'}} x {{item.quantity}} = {{item.Price*item.quantity | currency:'INR'}}</mat-card-title>
                </mat-card-title-group>        
                <button mat-raised-button color="primary" (click)="deleteItem(item)"><mat-icon style="font-size: 25px; line-height:22px; margin-right: 5px;">delete</mat-icon>Delete Item</button>       
            </mat-card>
        </div>
        <button mat-raised-button color="primary" style="float: right;" (click)="clearCart()"><mat-icon style="font-size: 25px; line-height:22px; margin-right: 5px;">delete_forever</mat-icon>Empty Cart</button>
    </mat-card>

    <mat-card fxFlex="25%" fxFlex.sm="90%" fxFlex.xs="90%" style="height: fit-content;"> 
        <mat-card-title-group>
            <mat-card-title>Total Items:</mat-card-title><span style="font-size: 24px; font-weight: 500;">{{cartItems.length}}</span>
        </mat-card-title-group>
        <hr style="font-weight: lighter;">
        <mat-card-title-group>
            <mat-card-title>Total Amount:</mat-card-title><span style="font-size: 24px; font-weight: 500;">{{total | currency:'INR'}}</span>
        </mat-card-title-group>
        <div style="text-align: center; margin-top: 5%;">
            <button mat-raised-button color="primary" style="display: inline-block;  margin: auto;"><mat-icon style="font-size: 25px; line-height:22px; margin-right: 5px;">local_shippingr</mat-icon>Place Order</button>
        </div>
        
    </mat-card>
    
</div>