<app-header></app-header>

<div class="spinner" *ngIf="!loaded">
    <mat-spinner style="margin: auto;"></mat-spinner>
</div>

<div class="container" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center" style="margin-top:2%;" *ngIf="loaded">
    <mat-card fxFlex="25%" fxFlex.sm="90%" fxFlex.xs="90%"> 
        <img style="max-width: 100%;" src={{productDetails.URL}}>
    </mat-card>
    
    <mat-card fxFlex="70%" fxFlex.sm="90%" fxFlex.xs="90%" style="height: fit-content;"> 
        <div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
            <mat-card fxFlex="100%" style="box-shadow: none;"> 
                <mat-card-title-group>
                    <mat-card-title>{{productDetails.Name}}</mat-card-title>
                    <mat-card-subtitle style="margin-top: 2%; text-align: justify; font-weight: 500; font-size:20px; line-height: 30px;">{{productDetails.Description}}</mat-card-subtitle>
                    <mat-card-title style="margin-top: 2%;">Price: {{productDetails.Price | currency:"INR"}}</mat-card-title>
                </mat-card-title-group>        
                <div style="margin-top: 2%;">
                    <button mat-mini-fab (click)="decreaseQTY()">
                        <mat-icon>remove</mat-icon>
                    </button>   
                    <span style="position: relative; top:5px; font-size: 28px; font-weight: 500; margin-left: 10px; margin-right: 10px;">{{quantity}}</span>
                    <button mat-mini-fab (click)="increaseQTY()">
                        <mat-icon>add</mat-icon>
                    </button> 
                </div> 
                <button mat-raised-button color="primary" style="width: 150px; height:40px; margin-top: 3%; display: block;" (click)="addToCart()"><mat-icon style="font-size: 25px; line-height:22px; margin-right: 5px;">add_shopping_cart</mat-icon>Add to Cart</button>    
            </mat-card>
        </div>
    </mat-card>
</div>