<app-header></app-header>

<form #myform="ngForm">
  <mat-card class="myForm" >
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Please enter your Login details below!</mat-card-subtitle>
    <mat-form-field appearance="fill" class="txtField">
      <mat-label>Enter E-Mail Address</mat-label>
      <input matInput name="email" [(ngModel)]="email" required email>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="txtField">
      <mat-label>Enter Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required minlength="6">
    </mat-form-field>
    <div class="regBtn">
      <button mat-raised-button color="primary" (click)="signIn()" [disabled]="!myform.valid">Log-In</button>
    </div>
  </mat-card>
</form>
